version: '3'

services:
  julia:
    image: antonioloureiro/julia_dev
    container_name: "${STACK}_dev"
    volumes:
      - /docker_machines_data/{$STACK}/workspace:/workspace
      - /etc/ssl/certs:/etc/ssl/certs
    ports:
    - "${PORT_PREFIX}88:8888"  # jupyter
    - "${PORT_PREFIX}89:8889"  # interface web
    links:
      - mongo

  mongo:
    image: mongo
    container_name: mongo
    volumes:
      - /docker_machines_data/${STACK}/db:/data/db
